<!doctype html>
<html>
<head>
  <title>Lab 5</title>
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular.min.js"></script>
  <script src="spa.js"></script>
  <style type="text/css">
    span.finished { cursor: pointer; color: blue; text-decoration: underline; }
  </style>
</head>
<body ng-app="spa" ng-controller="MainCtrl">
<div class="row">
<div class="col-md-8 col-md-offset-2">
<div class="page-header">
  <h1>Lab 5: Single Page Application</h1>
</div>
  <div ng-show="temperatures_page">
    <br>
    <form ng-submit="toggle_page()">
      <button type="submit">View/Update Profile</button>
    </form>
    <br>
    <h4>Current Temperature:</h4>
    <div>
      {{current_temperature}}
    </div>
    <br>
    <h4>Prior Readings:</h4>
    <div ng-repeat="temperature in temperatures | orderBy: '-ordinal'">
      {{temperature.temperature}} &middot;
      {{temperature.timestamp}}
    </div>
    <br>
    <h4>Temperature Violations:</h4>
    <div ng-repeat="threshold_violation in threshold_violations | orderBy: '-ordinal'">
      {{threshold_violation.temperature}} &middot;
      {{threshold_violation.timestamp}}
    </div>
  </div>
  <div ng-show="!temperatures_page">
    <div>
      <br>
      <form ng-submit="toggle_page()">
        <button type="submit">View Temperature Readings</button>
      </form>
      <br>
      <h4>Update Profile:</h4>
      <form ng-submit="profile_updated()">
        <input type="text" ng-model="location" placeholder="location"></input>
        <input type="text" ng-model="name" placeholder="name"></input>
        <input type="text" ng-model="threshold" placeholder="threshold"></input>
        <input type="text" ng-model="number" placeholder="number"></input>
        <button type="submit">Update</button>
      </form>
      <br>
      <h4>Current Profile:</h4>
      <b>Sensor Location: </b>{{profile.location}}
      <br>
      <b>Sensor Name: </b>{{profile.name}}
      <br>
      <b>Threshold Temperature: </b>{{profile.threshold}}
      <br>
      <b>SMS Number: </b>{{profile.number}}
    </div>
  </div>
</div>
</div>
</body>
</html>